#myBtnTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #00a3d9;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    line-height: 15px;
    font-size: 2em;
}

#myBtnTop:hover {
    opacity: 0.70;
}

.icon-application {
    width: 22px;
    height: auto;
    vertical-align: middle;
}

.img-document{
    float: left;
    display: block;
    margin-left: 10px;
    margin-right: auto;
    width: 300px;
}

.text-document-right {
    padding: 10px;
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}

h2 {
    font-size: large;
    font-weight: 600;
    border-bottom: solid 1px #00a3d9;
}

h3{
    font-size: large;
    font-weight: 400;
}

figure {
    min-height: 320px;
}

body,
.container {
    background-color: gainsboro;
}

.container-body{
    padding:0px 30px 0px 30px;
}

.row.footer{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

p {
    color: dimgray;
}

.row {
    background-color: #333;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.invisible {
    color: gainsboro;
}

.col-sm-4.footer {
    float: right;
}

@media screen and (min-width: 1025px) {
    .navbar-inverse, .container, .row {
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 992px) {
    /*
     * Nav bar
     */
    .navbar-header {
        background-color: rgba(255, 255, 255, 0.1);
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }

    .img-document{
        float: inherit;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}
